/*------------------全部調整區----------------------*/
*{
    font-family: monospace,微軟正黑體;
    /*border: 1px solid;*/
    position: relative;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

}

#skrollr-body{
    overflow: hidden;
}



/*------------------顏色控制----------------------*/
.text-h2-60{
    color: #333333;
    font-size:60px
    
}

.text-h2-30{
    color: #333333;
    font-size:30px;
    font-weight: 600;  
    font-family: 微軟正黑體;
}

.text-h2-30-bg{
    color: #333333;
    font-size:30px;
    font-weight: 600;  
    font-family: 微軟正黑體;
    line-height: 30px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: rgba(255,255,255,0.8);
}


.text-h3-20{
    color: #333333;
    font-size:20px; 
}

.text-p-15{
    color: #333333;
    font-size:15px
    
}

.text-p-15-white{
    color: #FCFCFC;
    font-size:15px;
    font-weight: 600;
    
    
}

.text-p-15now-white{
    color: #FCFCFC;
    font-size:15px;
    font-weight: 400;
    
    
}

.text-p-18-orange{
    color: #FF9D76;
    font-size:18px
    
}

.bg-nav{
    background-color: rgb(255, 233, 224);
}

.bg-orange{
    background-color: #FF9D76;
}


.bg-white{
    background-color: #FCFCFC;
}



.btn2-yellow{
    color: #fff;
    background-color: #FFD369;
}

.btn2-yellow:hover{
    background-color: #FFBD29;
    color: #fff;
    text-decoration: none;
}

.btn1-orange{
    color: #fff;
    background-color: #FF9D76;
}

.btn1-orange:hover{
    background-color: #FF7B4D;
    color: #fff;
    text-decoration: none;
}






/*------------------手機尺寸調整----------------------*/

@media (min-width:768px){    /*大尺寸螢幕*/
    .padjust{
        padding:150px;
    }

    .top{
        padding: 150px;
        padding-top: 250px;

    }

    .topimg{
        background-image: url(https://live.staticflickr.com/65535/49776653522_a2132592a5_o_d.png);
        background-repeat: no-repeat;
        background-position: right 0% bottom 10%;
    }

    .skillbar{
        width: 350px;
        height: 20px;
        border-radius: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
        border:1px solid  #FF9D76;
    }
    
    .bardec{
        width: 300px;
        height: 10px;
        background-color:#FF9D76;
        border-radius: 50px;
    
    }

    .bardec-good{
        width: 290px;
    }

    .bardec-better{
        width: 250px;
    }

    .bardec-fine{
        width: 220px;
    }




    .resumepic{
        transform: scale(0.8);
    }

    .contacttext img{
        transform: scale(0.8);
    }

    .vcenter{
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .allview{
        width: 100vw;
        height: 100vh;
    }
    
    .minjust{
        margin-left: 0px;
    }
    









}

@media (max-width:768px){    /*小尺寸螢幕*/
     .padjust{
        padding:0px;
        padding-top: 80px;
    }

    .top{
        padding: 20px;
        padding-top: 200px;

    }

    .topimg{
        background-image: url(https://live.staticflickr.com/65535/49776653522_a2132592a5_o_d.png);
        background-repeat: no-repeat;
        background-position: right 0% bottom 10%;
        background-size:50% ;

    }  

    .toptext{
        transform: scale(0.8);
        padding: 0px;
    }

    .toptext h2{
        font-size: 45px;

    }



    .skillbar{
        width: 250px;
        height: 20px;
        border-radius: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
        border:1px solid  #FF9D76;

    }
    
    .bardec{
        width: 200px;
        height: 10px;
        background-color:#FF9D76;
        border-radius: 50px;
    
    }

    .minjust{
        margin-left: 13px;
    }

    .bardec-good{
        width: 200px;
    }

    .bardec-better{
        width: 160px;
    }

    .bardec-fine{
        width: 140px;
    }

    .resumepic{
        padding: 30px;
        transform: scale(0.65);
    }
    
    .contacttext img{
        transform: scale(0.65);
    }

    .homeicon{
        display: none;
    }





  


}

/*------------------格式調整區----------------------*/


.contactlabel{
    float: left;
    width: 100%;
}


.allcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mjust{
    margin: 0px;
}







/*------------------固定圖標設定----------------------*/
.homeicon {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: lightcoral;
    border-radius: 100%;
    position: fixed;
    right:5%;
    bottom:10%;
}

.itemicon {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: lightcoral;
    border-radius: 100%;
    position: fixed;
    right:5%;
    bottom:5%;
}


/*------------------作品集單一頁面設定----------------------*/

.item1{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.item1p{
    width: 250px;
    height: 100px;
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    color:#fff;
    text-shadow: 1px 2px #e2d5f5 ;
}

.pic{
    position: absolute;
    padding: 90px;
}

.imgscale86{
    transform: scale(0.86);
}

.imgscale9{
    transform: scale(0.9);
}

.imgscale79{
    transform: scale(0.79);
}


.item2{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-20deg, #bdc2e8 0%, #e6dee9 100%);
}

.item3{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, #ffbca9 0%, #f6d365 100%);
}






