*{
   /* border:1px solid ;*/
    font-family: 'Baloo Tamma 2','Noto Sans TC',;
    color: #333;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;


}


.nav-item a{
    font-family: 'Baloo Tamma 2';
    font-size: 20px;
    color:#333;
    border-bottom:5px solid #b7d6e8;
    box-sizing: border-box;
}

.logo{
    width: 69px;
    height: 63px;
    margin: 5px;
}


.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg,rgb(253, 253, 253) 50%,transparent 50%),
                url("https://live.staticflickr.com/65535/49833301542_4d4e27a284_o_d.jpg") right center / auto 100% fixed;
}

.start{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textarea{
 width: 50%;
 
}


.textarea h1,h3{
    font-family: 'Baloo Tamma 2', cursive;
    padding: 15px;
    
   }

.mouse{
    position: absolute;
    bottom:3%;
    left:50%;
    transform: scaleX(-50%);
    width: 20px;
    height: 30px;
    border-radius:8px;
    border:2px solid #fff;

}

.movedown{
    width: 2px;
    height: 10px;
    position: absolute;
    background-color: #fff;
    left: 45%;
    top:2%;
    animation: move 1s infinite;
}

.banner1{
    width: 100%;


}

.just{
    padding-bottom: 4%;
    padding-top: 4%;
}

.just h5{
    font-family: '微軟正黑體';
    line-height: 1.8;
    font-size: 16px;
    padding: 15px;
}

.abouttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.skillicon{
    width: 20%;
}

.skilldec{
    width: 70%;
    margin-left: 2%;

}

.gooddec{
    width: 80%;
}

.finedec{
    width: 70%;
}

.litdec{
    width: 60%;
}

.skilldec h5{
    padding: 0px;
    font-family: 'Baloo Tamma 2';
    

}

.skillbar{
    border:1px solid #333;
    width: 100%;
    height: 22px;
    border-radius: 20px;
}

.bardec{
    background-color: #72a7d3;

    height: 16px;
    border-radius: 15px;
    margin: 2px 2px;
}

.jobtext h5 {
    font-family: '微軟正黑體';
    font-weight: 600;
    line-height: 1.8;
    font-size: 30px;
    padding: 0px;
}

.jobtext p {
    font-family: 'Baloo Tamma 2';
    line-height: 1.8;
    font-size: 16px;
    margin: 0px;

}

.jobtext h3 {
    font-family: 'Noto Sans TC';
    line-height: 1.8;
    font-size: 20px;
    padding: 0px;

}

.jobbor{
    border-top:2px solid rgba(0,0,0,0.5);

}








/*手機尺寸的顯示*/

   @media (max-width:450px){

    .navbar{
        background-color: #b7d6e8;
    }

    .logo{
        background-color: #fff;
    }
    
    i{
        color:#fff;
    }

    .nav-item a{
        color:#fff;
    }

    .nav-link {
        padding: 0.5rem 1rem;
      }
    
    .banner{
        width: 100%;
        height: 100vh;
        background: 
                    url("https://live.staticflickr.com/65535/49833301542_4d4e27a284_o_d.jpg") left 70% center / auto 100% fixed;
    }
    .textarea{
        width: 80%;
        background-color: rgba(255,255,255,0.8);
        text-align: center;
        
       }

    .textarea h1{
        font-size: 27px;
        padding: 10px;
        padding-bottom: 0px;
        
       }
    .textarea h3{
        font-size: 20px;
        padding: 10px;
        padding-top: 0px;
        
      }

    .skilldec{
        width: 70%;
        margin-left: 12%;
    
    }
    

   }

/*動畫*/

@keyframes move{
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(15px);
    }
}


/*顏色控管*/

.blue-font{
   color:#72a7d3;
}

.mainfont{
    font-family: 'Baloo Tamma 2';
}